
.clock-container{
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
  background-image: url('./bernie-sanders-mittens-meme-transparent-background-free.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  background-position-x: -120px;
  background-color: #ebebeb;
  box-sizing: border-box;
  padding: 20px;
}

.tab-container {
  display: flex;
  padding: 0 30px;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
  list-style-type: none;
}

.tab-container li > h1 {
  border: 1px solid #666;
  padding: 20px;
  background-color: #ebb;
  border-radius: 15px 15px 0 0;
  min-width: 200px;
  text-align: center;
}

.tab-container li.hide *:not(h1) {
  display: none;
}

h2.time{
  font-family: 'Ultra', serif;
}