<h1>Here I am in the Sessions new view</h1>

<form action="/session/" method="POST">

  <label for="user[username]">Name
 
  <input
    type="text"
    name="user[username]"
    value="">
  </label>
  <label for="user[password]">Password
  <input
    type="text"
    name="user[password]"
    id="user[password]"
    value="">
  </label>
  <br>

  <input type="submit" value="SUBMIT">
</form>